@charset "UTF-8";
/* CSS Document */
html,
button,
input,
select,
textarea {
    color: #222;
}

#StartPage {
	z-index: 999;
	position: absolute;
	background-color: #333;
	width: 100%;
	height:100%;
}

#Kamer4{
	position: absolute;
	background-color:transparent;
	width: 100%;
	height: 100%;
}

#overview {
	width: 100%;
	height: auto;
	position: absolute;
}

#Kruis{
	position: absolute;
	width: 10%;
	height: auto;
}

#PijlLinks{
	position: absolute;
	width: 10%;
	height: auto;
}

#PijlRechts{
	position: absolute;
	width: 10%;
	height: auto;
}


.knop{
	
	background-color: white;
	padding: 12px 25px;
	display: inline-block;

	border: rgb(255, 0, 0);
	background-color: white;
	color: black;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
}

.knop:hover{
background: black;
color: white;
}

.vs{
	background: rgba(0, 128, 0, 0.342);
	color: transparent;
	position: absolute;
	padding: 140px 150px;
	border: none;
	font-size: 20px;
	top: 40%;
	left: 42%;
}

.verstoptK3{
	background: transparent;
	color: transparent;
	position: absolute;
	padding: 150px 150px;
	border: none;
	font-size: 20px;
}

.CommentBOX{
	top: 47%;
	left: 60%;
	position: absolute;
	
}

.Facebook1BOX{
	top: 37%;
	left: 1%;
	position: absolute;
	
}

.Facebook2BOX{
	top: 31%;
	left: 75%;
	position: absolute;

}

.LikeBOX{
	top: 5%;
	left: 1%;
	position: absolute;
	
}

.MailBOX{
	top: 50%;
	left: 22%;
	position: absolute;

}

.McDonaldsBOX{
	top: 1%;
	left: 60%;
	position: absolute;
	
}

.NewsBOX{
	top: 5%;
	left: 85%;
	position: absolute;
	
}

.PhoneBOX{
	top: 55%;
	left: 85%;
	position: absolute;

}

.WhatsappBOX{
	top: 3%;
	left: 20%;
	position: absolute;

}

.verstopt{
	background:transparent;
	color: transparent;
	padding: 60px 60px;
	border: none;
	font-size: 20px;
	cursor: pointer;
}

.KL{
	
	top: 78%;
	left: 31%;
	position: absolute;
	
}

.KM{
	
	top: 78%;
	left: 45.5%;
	position: absolute;
	
}

.KR{

	top: 78%;
	left: 60.5%;
	position: absolute;
	
}

.ST{
	top: 85%;
	left: 80%;
	position: absolute;

}

.K1image{
	position: fixed;
	width: 100%;
	height: auto;	
}

#EC{
	position: absolute;
	width: 1280px;
	height: 720px;
	top: 15%;
	left: 20%;	
}

.snake{
	position: absolute;
	width: 18%;
	height: auto;
	top: 40%;
	left: 42%;
	
	
}

.image{
	position: fixed;
	width: 100%;
	height: auto;
}

.k4{
	position: absolute;
	left: 46% ;
	top: 23%;
}

.k3{
	position: absolute;
	left: 60%;
	top: 40%;
}
	
.k2{
	position: absolute;
	left: 53%;
	top: 65%;
}

.k1{
	position: absolute;
	left: 42%;
	top: 46%;
	
}

.kamer2{
	background: black;
}

h1{
	color: white;
	font-size: 40px;
	position: absolute;
	top: 0;
	text-align: center;
	left: 2%;
}

pre{
	color: white;
	width: 100%;
	height: auto;
	font-size: 13px;
	position: absolute;
	top: 8%;
	text-align: left;
	left: 2%;
}



html {
    font-size: 1em;
    line-height: 1.4;
	font-family:"Helvetica Neue", Helvetica, Arial, "sans-serif"
}
body{
	background-color:#333;
	margin: 10px;
	width: 1920;
	height: 1080;
}

.list {

	list-style-type: none;
 	margin: 0;
  	padding: 0;
}

.K3Image{
	position: absolute;
	width: 100%;
	height: auto;
}

#Leeg{
	position: absolute;
	width: 100%;
	height: auto;
}

#K2BG{
	position: fixed;
	width: 100%;
	height: auto;
}

#video_kamer4{
	position:fixed;
	z-index:-10;
	width:100%;
	height:auto;

}

.left {
	position: absolute;
	top: 45%;
	left: 0;
}

.right {
	position: absolute;
	top: 45%;
	right: 0;
}

.top {
	position: absolute;
	top: 1%;
	right: 1%;
}

